<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="antworker">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import antworker urdf file -->
    <xacro:include filename="$(find antworker_description)/description/combined/worker_with_arm.urdf" />

    <!-- Import control_xacro -->
    <!-- <xacro:include filename="antworker.ros2_control.xacro" /> -->


    <!-- <xacro:antworker_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
